.company {
  width: 100%;
  padding: 1rem 1rem 1rem 1rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 1rem;
  margin-top: 1rem;
  .company-heading {
    width: 100%;
    text-align: start;
    padding-left: 2rem;
    span {
      font-size: 2.5rem;
      color: #000000;
      text-transform: none;
    }
  }
  .company-cards {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 0.5rem;
     a{
      text-decoration: none;
     
    .company-card {
      width: 17rem;
      height: 27rem;
      display: flex;
      flex-direction: column;
      gap: 2rem;
      box-shadow: 0.1rem 0.1rem 1rem 0rem #352b2b;
      position: relative;
      transform: scale(1);
      transition: .5s;
      &:hover{
        transform: scale(.9);
      }
      .image {
        width: 100%;
        height: 20rem;
        background-color: #fe6900;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      .name {
        width: 100%;
        text-align: center;
        span {
          font-size: 1.6rem;
          color: black;
        }
      }
    }
  }
}
}
