@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,400&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-transform: capitalize;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}
html {
  font-size: 62.5%;
}
body {
  width: min(100vw, 1440px);
  max-width: 100%;
  margin: 0 auto 0 auto;
  background: linear-gradient(45deg, #fff1e6, #f0efeb);
}
.btn {
  width: 20rem;
  font-size: 1.4rem;
  padding: 1rem 0rem 1rem 0rem;
  outline: none;
  border-radius: 0.5rem;
  color: #ffffff;
  background-color: #fe6900;
  border: 0.1rem solid #fe6900;
}
.btn:hover {
  background-color: #ffffff;
  color: #fe6900;
}
.btn-cat {
  padding: 1rem 2rem;
  background-color: #ffffff;
  color: #000000;
  outline: none;
  border: none;
  cursor: pointer;
}
.btn-cat:hover {
  background-color: #000000;
  color: #ffffff;
}
