.contact {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 2rem 1rem 1rem 1rem;
  overflow: hidden;
  background-color: #ffffff;
  .heading {
    width: 100%;
    text-align: center;
    span {
      font-size: 2rem;
      color: #000;
    }
  }
  .container {
    width: 100%;
    padding: 1rem 1rem 1rem 1rem;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    .form {
      width: 50%;
      padding: 2rem 1rem 2rem 1rem;
      display: flex;
      justify-content: center;
      align-items: center;
      form {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 3rem;
        padding: 3rem 1rem 1rem 1rem;
        border: 0.1rem solid #777;
        .item {
          width: 100%;
          display: flex;
          flex-direction: column;
          position: relative;
          input {
            outline: none;
            border: none;
            padding: 0rem 1rem 0rem 1rem;
            letter-spacing: 0.1rem;
            background-color: transparent;
            border-bottom: 0.1rem solid #000000;
            &:focus ~ label,
            &:valid ~ label {
              top: -2rem;
              left: 0;
              color: #03a9f4;
              font-size: 1.2rem;
            }
          }
          label {
            font-size: 1rem;
            color: #000000;
            position: absolute;
            top: 0;
            left: 0;
            letter-spacing: 0.1rem;
            transition: 0.5s;
          }
        }
        .text-area {
          width: 100%;
          display: flex;
          flex-direction: column;
          position: relative;
          textarea {
            width: 100%;
            outline: none;
            border: none;
            padding: 0rem 1rem 0rem 1rem;
            resize: none;
            border-bottom: 0.1rem solid #000000;
            &:focus ~ label,
            &:valid ~ label {
              top: -2rem;
              left: 0;
              color: #03a9f4;
              font-size: 1.2rem;
            }
          }
          label {
            color: #000;
            position: absolute;
            top: 0;
            left: 0;
            letter-spacing: 0.1rem;
            transition: 0.5s;
          }
        }
        .button {
          width: 100%;
          text-align: center;
        }
      }
    }
    .info {
      width: 50%;
      height: auto;
      padding: 2rem 1rem 2rem 1rem;
      display: flex;
      align-items: center;
      justify-content: center;
      .location {
        width: 100%;
        height: 100%;
      }
    }
  }
  .address {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
    .row {
      width: 20rem;
      height: 10rem;
      display: flex;
      flex-direction: row;
      background-color: #ffffff;
      box-shadow: 0.1rem 0.1rem 0.2rem 0.2rem rgba(0, 0, 0, 0.2),
        -0.1rem -0.1rem 0.2rem 0.2rem rgba(0, 0, 0, 0.2);
      .icon {
        width: 20%;
        display: flex;
        justify-content: center;
        align-items: center;
        i {
          font-size: 2rem;
          animation: scale 2s linear infinite;
        }
        @keyframes scale {
          0% {
            transform: scale(1);
          }
          50% {
            transform: scale(1.3);
          }
          100% {
            transform: scale(1);
          }
        }
      }
      .text {
        width: 80%;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        background-color: #fe6900;
        span {
          text-transform: none;
        }
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .contact {
    .container {
      flex-direction: column;
      gap: 2rem;
      .form {
        width: 100%;
      }
      .info {
        width: 100%;
      }
    }
  }
}
