.hero {
  width: 100%;
  display: flex;
  padding: .5rem 2rem .5rem 2rem;
  .hero-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    height: 90vh;
    overflow: hidden;
    margin-top: 2rem;
    .first {
      display: flex;
      flex-direction: column;
      flex: 1;
      .top {
        flex: 1;
        width: 100%;
        .card {
          position: relative;
          width: 100%;
          height: 100%;
          &:hover {
            .first {
              z-index: 3;
            }
          }
          img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
          button {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 5;
          }
        }
      }
      .middle {
        flex: 1;
        width: 100%;
        .card {
          position: relative;
          width: 100%;
          height: 100%;
          &:hover {
            .first {
              z-index: 3;
            }
          }
          img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
          button {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 5;
          }
        }
      }
      .bottom {
        flex: 1;
        width: 100%;
        .card {
          position: relative;
          width: 100%;
          height: 100%;
          &:hover {
            .first {
              z-index: 3;
            }
          }
          img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
          button {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 5;
          }
        }
      }
    }
    .second {
      display: flex;
      flex-direction: column;
      flex: 1;
      .top {
        flex: 1;
        width: 100%;
        .card {
          position: relative;
          width: 100%;
          height: 100%;
          &:hover {
            .first {
              z-index: 3;
            }
          }
          img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
          button {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 5;
          }
        }
      }
      .bottom {
        display: flex;
        flex: 1;
        flex-direction:column;
        width: 100%;
        .left {
          flex: 1;
          .card {
            position: relative;
            width: 100%;
            height: 100%;
            &:hover {
              .first {
                z-index: 3;
              }
            }
            img {
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
            button {
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
              z-index: 5;
            }
          }
        }
        .right {
          flex: 1;
          .card {
            position: relative;
            width: 100%;
            height: 100%;
            &:hover {
              .first {
                z-index: 3;
              }
            }
            img {
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
            button {
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
              z-index: 5;
            }
          }
        }
      }
    }
    .third {
      display: flex;
      flex-direction: column;
      flex: 1;
      .top {
        flex: 1;
        .card {
          position: relative;
          width: 100%;
          height: 100%;
          &:hover {
            .first {
              z-index: 3;
            }
          }
          img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
          button {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 5;
          }
        }
      }
      .bottom {
        flex: 1;
        .card {
          position: relative;
          width: 100%;
          height: 100%;
          &:hover {
            .first {
              z-index: 3;
            }
          }
          img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
          button {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 5;
          }
        }
      }
    }
  }
}





@media screen and (max-width:768px){
   .hero{
    .hero-container{
      flex-direction: column;
      .first{
        flex-direction: row;
      }
      .second{
        flex-direction: row;
        .bottom{
          flex-direction: column;
        }
      }
      .third{
        flex-direction: row;
      }
    }
   }
}
